@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Starbirl';
		font-weight: 800;
		src: url('./fonts/starbirl.ttf');
	}

	body::-webkit-scrollbar {
		@apply w-1;
	}
	body {
		scrollbar-width: thin;
		scrollbar-color: theme('colors.orange.main') black;
	}
	body::-webkit-scrollbar-track {
		background: black;
	}
	body::-webkit-scrollbar-thumb {
		@apply bg-orange-main rounded-lg;
	}
}

@layer components {
	.glass {
		@apply bg-black bg-opacity-50 backdrop-blur-lg border-2 border-transparent bg-clip-padding;
	}
}
