@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Starbirl';
		font-weight: 800;
		src: url('./fonts/starbirl.ttf');
	}
	html {
		scroll-snap-type: y proximity;
		scroll-behavior: smooth;
	}
}
